package components

templ Category(text string, imageSource string) {
    @CategoryStyle()
    <div class="category">
        <h1>#{text}</h1>
    </div>
}

templ CategoryStyle() {
    <style>
        .category {
            
        }
    </style>
}