package components

templ RegField(name string) {
    @RegFieldStyle()
    <input name={name} class="reg-field"/>
    
}

templ RegFieldStyle() {
    <style>
    .reg-field {
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--color-light);
        border: none;
    }
    </style>
}