package components

templ RegField(name string, fieldType string) {
    @RegFieldStyle()
    <input name={name} class="reg-field" type={fieldType}/>
    
}

templ RegFieldStyle() {
    <style>
    .reg-field {
        height: 40px;
        width: 400px;
        padding: 5px;
        margin: 5px 10px 20px 10px;
        border-radius: 5px;
        background-color: lightgray;
        border: none;
    }
    </style>
}