package components

templ Search() {
    @SearchStyle()
    <div class="search">
        <input placeholder="Найти новость" />
        <img src="/public/images/search.svg"/>
    </div>
    
}

templ SearchStyle() {
    <style>
        .search {
            justify-content: space-between;
            padding: 10px;
            width: 200px;
            background-color: lightgray;
        }
        .textarea {
            width: auto;
        }
    </style>
}
