package views

import "blog-site/views/layout"

templ Main() {
    @MainStyle()
    @layout.Layout(layout.LayoutProps{
        Title: "Title",
        MetaDescription: "Meta description",
    }) {
        <main class="main">
            @layout.Header()
            @layout.Content()
            @layout.Footer()
        </main>
    }
}
templ MainStyle() {
    <style>
        .main {
            padding: 5px 100px;
            background-color: gray;
        }
    </style>
}

