:root {
    --color-white: #FFFFFF;
    --color-light: #f0f0f0;
    --color-superlight: #fafafa;
    --color-dark: #222;
    --color-coral: #f90057;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}