package pages

import "blog-site/views/layout"
import "blog-site/views/widgets"

templ Register() {
    @RegisterStyle()
    @layout.Layout(layout.LayoutProps{
        Title: "Регистрация на сайте",
        MetaDescription: "Регистрация на сайте новостей обо всем",
    }) {
        @layout.Header() {
            
        }
        @widgets.RegisterForm()
    }
    
}

templ RegisterStyle() {
    <style>
        
    </style>
}