package layout

import "blog-site/views/components"

type Category struct {
    Name string
    ImageSource string
}

templ Categories(cats []Category) {
    <div class="categories">
        for _, val := range cats {
            @components.Category(val.Name, val.ImageSource)
        }
    </div>
}

templ CategoriesStyle() {
    <style>
        .categories {
            height: 40px;
            text-align: center;
            color: var(--color-white);
        }
    </style>
}

