package layout

templ Categories() {
    <div class="categories">
        <p>Категории</p>
    </div>
}

templ CategoriesStyle() {
    <style>
        .categories {
            height: 40px;
            text-align: center;
            color: var(--color-white);
        }
    </style>
}

