package layout

templ Menu() {
    @MenuStyle()
    <div class="menu">
        { children... }
    </div>
}

templ MenuStyle() {
    <style>
        .menu {
            height: 40px;
            text-align: center;
            color: var(--color-white);
        }
    </style>
}